<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>简单日志查看器</title>
</head>
<body>
    <h1>简单日志查看器</h1>
    <form id="logSearchForm"></form>
        <!-- 新增时间选择 -->
        <label for="startTime">开始时间:</label>
        <input type="datetime-local" id="startTime" name="startTime">
        <label for="endTime">结束时间:</label>
        <input type="datetime-local" id="endTime" name="endTime">

        <label for="project">项目:</label>
        <select name="project" id="project">
            <option value="space-api" th:selected="${project.equals('space-api')}">space-api</option>
            <option value="space-work" th:selected="${project.equals('space-work')}">space-work</option>
            <option value="space-task" th:selected="${project.equals('space-task')}">space-task</option>
            <option value="space-base-business" th:selected="${project.equals('space-base-business')}">space-base-business</option>
            <option value="space-email-mq-consumer" th:selected="${project.equals('space-email-mq-consumer')}">space-email-mq-consumer</option>
            <option value="space-game-pc" th:selected="${project.equals('space-game-pc')}">space-game-pc</option>
            <option value="space-gateway" th:selected="${project.equals('space-gateway')}">space-gateway</option>
            <option value="space-member" th:selected="${project.equals('space-member')}">space-member</option>
            <option value="space-mq-consumer" th:selected="${project.equals('space-mq-consumer')}">space-mq-consumer</option>
            <option value="space-sdk-cp" th:selected="${project.equals('space-sdk-cp')}">space-sdk-cp</option>
        </select>
        <label for="environment">环境:</label>
        <select name="environment" id="environment">
            <option value="prod" th:attr="(selected=${environment.equals('prod')})">正式环境</option>
            <option value="test" th:attr="(selected=${environment.equals('test')})">测试环境</option>
        </select>
        <label for="logFile">日志文件:</label>
        <select name="logFile" id="logFile">
            <option th:each="file : ${logFiles}" th:value="${file}" th:text="${file}" th:attr="(selected=${file.equals(logFileName)})"></option>
        </select>
        <label for="searchText">搜索文本:</label>
        <input type="text" name="searchText" id="searchText" th:value="${searchText}">
        <label for="threadId">线程ID:</label>
        <input type="text" name="threadId" id="threadId" th:value="${threadId}">
        <button type="submit" onclick="submitForm(event)">搜索</button>
    </form>
        <table border="1">
        <thead>
            <tr>
                <th>时间</th>
                <th>level</th>
                <th>线程id</th>
                <th>logger</th>
                <th>日志内容</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="log : ${logs}">
<!--                <td th:text="${#dates.format(log.logTime, 'yyyy-MM-dd HH:mm:ss.SSS')}"></td>-->
<!--                <td th:text="${log.logTime}"></td>-->
                <td th:text="${#temporals.format(log.logTime, 'yyyy-MM-dd HH:mm:ss.SSS')}"></td>
                <td th:text="${log.level}"></td>
                <td th:text="${log.threadId}"></td>
                <td th:text="${log.logger}"></td>
                <td th:text="${log.message}"></td>
            </tr>
        </tbody>
    </table>
    <div>
<!--        <span th:text="${searchText != 'null' ? searchText:''}"></span>
        <span th:text="${searchText}"></span>-->
        <button th:if="${page > 0}"
                th:data-startTime="${startTime}"
                th:data-endTime="${endTime}"
                th:data-project="${project}"
                th:data-environment="${environment}"
                th:data-search-text="${searchText}"
                th:data-thread-id="${threadId}"
                th:data-page="${page}"
                th:data-size="${size}"
                onclick="navigatePage(this, -1)">上一页</button>
        <span>当前页: <span th:text="${page}"></span></span>
        <button id="nextButton" th:data-startTime="${startTime}"
                th:data-endTime="${endTime}"
                th:data-project="${project}"
                th:data-environment="${environment}"
                th:data-search-text="${searchText}"
                th:data-thread-id="${threadId}"
                th:data-page="${page}"
                th:data-size="${size}"
                onclick="navigatePage(this, 1)">下一页</button>
    </div>
    <script>
        // 设置默认时间
        document.addEventListener('DOMContentLoaded', function () {
            var startTime = document.getElementById('nextButton').getAttribute('data-startTime');
            var endTime = document.getElementById('nextButton').getAttribute('data-endTime');
            console.log("-----",startTime, endTime)
            const now = new Date();
            const fifteenMinutesAgo = new Date(now.getTime() - 15 * 60 * 1000);

            function formatDateTime(date) {
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                const hours = String(date.getHours()).padStart(2, '0');
                const minutes = String(date.getMinutes()).padStart(2, '0');
                return `${year}-${month}-${day}T${hours}:${minutes}`;
            }

            if (startTime && endTime) {
                const startDate = new Date(parseInt(startTime));
                const endDate = new Date(parseInt(endTime));
                document.getElementById('startTime').value = formatDateTime(startDate);
                document.getElementById('endTime').value = formatDateTime(endDate);
            } else {
                document.getElementById('startTime').value = formatDateTime(fifteenMinutesAgo);
                document.getElementById('endTime').value = formatDateTime(now);
            }

        });

        function navigatePage(button, direction) {
            const project = document.getElementById('project').value;
            const environment = document.getElementById('environment').value;
            const searchText = button.getAttribute('data-search-text');
            const threadId = button.getAttribute('data-thread-id');
            const page = parseInt(button.getAttribute('data-page')) + direction;
            const size = button.getAttribute('data-size');
            
            // Convert datetime to timestamps
            const startTimeStr = document.getElementById('startTime').value;
            const endTimeStr = document.getElementById('endTime').value;
            const startTimestamp = new Date(startTimeStr).getTime();
            const endTimestamp = new Date(endTimeStr).getTime();

            let url = '?';
            if (project) {
                url += `&project=${project}`;
            }
            if (environment) {
                url += `&environment=${environment}`;
            }
            if (searchText) {
                url += `&searchText=${searchText}`;
            }
            if (threadId) {
                url += `&threadId=${threadId}`;
            }
            if (page) {
                url += `&page=${page}`;
            }
            if (size) {
                url += `&size=${size}`;
            }
            if (startTimestamp) {
                url += `&startTime=${startTimestamp}`;
            }
            if (endTimestamp) {
                url += `&endTime=${endTimestamp}`;
            }
            window.location.href = url;
        }

        function submitForm(event) {
            event.preventDefault();
            const form = event.target;
            const startTime = new Date(document.getElementById('startTime').value).getTime();
            const endTime = new Date(document.getElementById('endTime').value).getTime();

            const params = new URLSearchParams();
            params.append('startTime', startTime);
            params.append('endTime', endTime);
            params.append('project', document.getElementById('project').value);
            params.append('environment', document.getElementById('environment').value);
            params.append('logFile', document.getElementById('logFile').value);

            const searchText = document.getElementById('searchText').value;
            const threadId = document.getElementById('threadId').value;

            if (searchText) {
                params.append('searchText', searchText);
            }
            if (threadId) {
                params.append('threadId', threadId);
            }

            console.log(params)

            window.location.href = '/logs?' + params.toString();
        }
    </script>
</body>
</html>